@model DapperDemo.Models.AProductViewModel

@{
    ViewData["Title"] = "DeleteProduct";
}

<h2>DeleteProduct</h2>

<div>
    <h4>Are you sure you want to delete this product?</h4>


    <hr />
    <div>
        <p>ID: @Model.ID</p>
        <p>Name: @Model.Name</p>
        <p>Supplier ID: @Model.SupplierID</p>
        <p>Category ID: @Model.CategoryID</p>
        <p>Quantity Per Unit: @Model.QuantityPerUnit</p>
        <p>Unit Price: @Model.UnitPrice</p>
        <p>Units In Stock: @Model.UnitsInStock</p>
        <p>Units On Order: @Model.UnitsOnOrder</p>
    </div>
</div>

<input asp-controller="Northwind" asp-action="RemoveProductResults" asp-route-id="@Model.ID" type="submit" value="Delete" class="btn btn-default" />

<button asp-controller="Northwind" asp-action="RemoveProductResults" asp-route-id="@Model.ID" type="submit" >Delete</button>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
